---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Profile -->
        {% include profile.html %}
        
        <hr>

        <!-- Home Post List -->
        <div class="post-recent-subguide">
          <h4>새로운 소식</h4>
        </div>
        <div class="post-recent-guide">
          <h2>최신 포스트 목록</h2>
        </div>
        <br>

        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            {% if post.category %}
            <h3 class="post-category">{{ post.category }}</h3>
            {% endif %}

            <h2 class="post-title">
              {% if post.icon %}
              {{ post.icon }}
              {% endif %} {{ post.title }}
            </h2>

            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>

          <p class="post-meta">
            {{ post.date | date: '%Y-%m-%d' }}
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix" style= "text-align: center;">
          <a class="btn btn-success btn-block float-none" href="{{"/posts" | relative_url }}">
            &darr; 전체 포스트 보기
          </a>
        </div>
      </div>
    </div>
  </div>
